[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/taglib"]
	path = third_party/taglib
	url = https://github.com/taglib/taglib.git
[submodule "first_party/KawusapiCC"]
	path = first_party/KawusapiCC
	url = https://github.com/minervarr/KawusapiCC
[submodule "framework/Vk_Canvas_Lb_LAW"]
	path = framework/Vk_Canvas_Lb_LAW
	url = https://github.com/minervarr/Vk_Canvas_Lb_LAW
[submodule "framework/app_shell"]
	path = framework/app_shell
	url = https://github.com/minervarr/App_shell.git
[submodule "assets/fonts"]
	path = assets/fonts
	url = https://github.com/minervarr/fonts
